.main{
    display: flex;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    height: 440px;
    }
.filter{
    margin-top: 130px;
    margin-left: 20px;
    }
.products{
    margin-top: 50px;
    margin-left: 50px;
    min-width: 1000px;
    }

